.Section06 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  p {
    font-size: 20px;
    color: rgb(202, 202, 202);
    text-shadow: 0 0 10px black;
    font-family: "Gemunu Libre", sans-serif;
  }
  h1 {
    font-size: 20px;
    font-family: "Press Start 2P", cursive;
    padding-left: 10px;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 20px 0;
    line-height: 25px;
  }
  button {
    align-self: flex-start;
    position: absolute;
    height: auto;
    font-family: "Press Start 2P", cursive;
    color: white;
    text-shadow: 0 0 10px black;
    background-color: rgb(60, 34, 116);
    padding: 20px;
    border: none;

    border-radius: 10px;
    transition: all 0.2s ease-in;
    &:hover {
      box-shadow: 5px 5px 5px black;
      transform: translateX(-2%) translateY(-2%);
      cursor: pointer;
    }
  }
  .Apply {
    height: 50vh;
    margin: 10px;
    padding: 50px;
    background-color: rgba(102, 54, 204, 0.7);
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
    position: relative;
    button {
      background-color: rgb(200, 0, 255);
    }
  }
  .Involve {
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    padding: 50px;
    height: 50vh;
    margin: 10px;
    background-color: rgba(198, 0, 255, 0.7);
    position: relative;
    button {
      background-color: rgb(82, 39, 173);
    }
  }
}

@media (min-width: 500px) {
  .Section06 {
    button {
      width: 200px;
      // right: 10%;
      bottom: 10%;
    }
    .Involve {
      width: 40%;
    }
    .Apply {
      width: 40%;
      button {
        left: 10%;
      }
    }
  }
}

@media (max-width: 500px) {
  .Section06 {
    flex-direction: column;
    text-align: center;
    button {
      width: 90%;
      bottom: 5%;

      left: 5%;
    }
    h1 {
      font-size: 15px;
    }
    .Apply {
      width: 90%;
      height: 38vh;
      padding: 20px;
    }
    .Involve {
      width: 90%;
      height: 38vh;
      padding: 20px;
    }
  }
}
